
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;

  display: flex;
  flex-wrap : wrap;
  flex-direction: row;

  justify-content: center ;
}

.flex-item {
  background: #3B653D;
  padding: 5px;
  min-width: 200px;
  max-width: 200px;
  height: 200px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;

  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 6em;
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.Title {
  text-decoration-line: underline;
  font-size: 75px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  display: flex;
  height: 180px;
  justify-content: center ;
  background: ;
  margin: 0px;


}
